<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/resources/img/logopequeno-hospital.png">
    <link rel="stylesheet" href="/resources/css/dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!-- Incluye el archivo de estilo CSS de jQuery -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.css">
    <!-- Incluye el archivo JavaScript de jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Otros archivos de estilo y scripts -->
    <!--GRAFICO-->
    <script defer src="path/to/chartjs/dist/chart.umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script defer src="/resources/js/alerta.js"></script>

    <title>Hospital San Jose Melipilla</title>
</head>

<body id="body-pd">
    <%- include('../layouts/_layoutNutricionistaJefe') %>
    <!--Navbar end-->
    <div class="titulo">Dashboard</div>
    <!--Container Main start-->
    <div id="container">
        <!--Muestra los primeros graficos-->
        <div id="graficos1">

            <div id="chart1"><h1>Total de Regimen Funcionario</h1><canvas id="myChart1"></canvas></div>
            
            <div id="chart2"><h1>Total de Regimen Hospitalizado</h1><canvas id="myChart2"></canvas></div>
        </div>
        <div id="graficos2">
            <div id="chart3"><canvas id="myChart3"></canvas></div>
        </div>
    </div>
    <!--Container Main end-->
    <!--Scripts-->
    <script defer src="/resources/js/navbar.js"></script>
    <script defer src="/resources/js/myCharts.js"></script>
</body>

</html>