<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mantenedores</title>
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    <script defer src="/resources/js/GridJsMantenedor.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
</head>
<body>
    
    <div>
        <h1>Via</h1>
        <div id="ListaVia"></div>
    </div>

    <div>
        <h1>Contrato</h1>
        <div id="ListaContrato"></div>
    </div>
    
    <div>
        <div id="ListaEstamento"></div>
    </div>
    
    <div>
        <h1>Regimen</h1>
        <div id="ListaRegimen"></div>
    </div>
    
    <div>
        <h1>Servicio</h1>
        <div id="ListaServicio"></div>
    </div>
    
    <div>
        <h1>Unidad</h1>
        <div id="ListaUnidad"></div>
    </div>
    
    <div>
        <h1>Funcionario</h1>
        <div id="ListaTipoFuncionarios"></div>
    </div>
</body>
</html>