<!DOCTYPE html>

<body>
    <header class="header" id="header">
        <div class="header_toggle">
            <i class="bx bx-menu" id="header-toggle"></i>
        </div>
        <div class="titulo-header">SISTEMA DE CONTROL DE ALIMENTACIÓN</div>
        <div class="log-out">
            <a href="/logout" class="nav_link">
                <i class="bx bx-log-out nav_icon"></i>
                <span class="nav_name"> </span></a>
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div class="nav_list">
                <a href="" class="nav_link">
                    <i class="bx bx-user nav_icon"></i>
                    <span class="nav_name">Alimentacion Hospitalizado</span>
                </a>
                <a href="<%= TipoFuncionario %>/reportes" class="nav_link">
                    <i class="bx bx-folder nav_icon"></i>
                    <span class="nav_name">Reporteria</span>
                </a>
                <a href="<%= TipoFuncionario %>/dashboard" class="nav_link">
                    <i class="bx bx-bar-chart-alt-2 nav_icon"></i>
                    <span class="nav_name">Dashboard</span>
                </a>
            </div>
        </nav>
    </div>
    <main class="wrapper">

    </main>
</body>

</html>