<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recuperarcontrasenia.css">
    <title></title>
</head>

<body>
    <div class="container">
        <img id="svg-background" src="/img/recuperarcontrasenia.svg" alt="fondo del iniciosesion">
        <div id="inicio">
            <div id="sesion">
                <div id="form">
                    <form id="formulario" method="post" action="/auth/addEmail">
                        <div class="decoracion">Agrega tu Correo</div>
                        <label for="useruser"> Ingresar Rut</label>
                        <input id="user" type="text" name="username" placeholder="11111111-1" required>
                        <label for="useruser"> Ingresar Correo</label>
                        <input id="user" type="text" name="correo" placeholder="Ejemplo@gmail.com" required>

                        <button id="button" type="submit">Enviar</button>
                        <button id="buttonC" type="cancel"><a href="/">Cancelar</a></button>
                    </form>
                    <div id="img">
                        <img id="svg-background2" src="/img/decoracionRC.svg" alt="fondo del iniciosesion">
                        <img id="img-background" src="/img/Hospital.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>