<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teclado Numérico</title>
  <link rel="stylesheet" href="/resources/css/confirmarColacion.css">
</head>
<body>
<div id="calculator">
  <form id="rutForm" method="post" action="/checkin-colacion">
    <input type="text" id="rutField" name="rutField" placeholder="11111111-1" readonly oninput="validateRut()">
  </form>
  
  <div class="keypad">
    <div class="key" onclick="appendValue('1')">1</div>
    <div class="key" onclick="appendValue('2')">2</div>
    <div class="key" onclick="appendValue('3')">3</div>
    <div class="key" onclick="appendValue('4')">4</div>
    <div class="key" onclick="appendValue('5')">5</div>
    <div class="key" onclick="appendValue('6')">6</div>
    <div class="key" onclick="appendValue('7')">7</div>
    <div class="key" onclick="appendValue('8')">8</div>
    <div class="key" onclick="appendValue('9')">9</div>
    <div class="key" onclick="appendValue('-')">-</div>
    <div class="key" onclick="appendValue('0')">0</div>
    <div class="key" onclick="appendValue('K')">K</div>
    <div id="delete" class="key" onclick="deleteLastCharacter()">DEL</div>
    <div class="key" ></div>
    <div id="ok" class="key" onclick="submitForm()">OK</div>
  </div>
</div>

<script>
  function appendValue(value) {
    document.getElementById('rutField').value += value;
    validateRut();
  }

  function deleteLastCharacter() {
    var rutField = document.getElementById('rutField');
    rutField.value = rutField.value.slice(0, -1);
    validateRut();
  }

  function validateRut() {
    var rutRegex = /^0*(\d{1,8})-([\dkK])$/;
    var rutField = document.getElementById('rutField');
    var isValid = rutRegex.test(rutField.value);

    if (!isValid) {
      rutField.style.borderColor = 'red';
    } else {
      rutField.style.borderColor = '#ccc';
    }

    return isValid;
  }

  function submitForm() {
    const rutFieldValue = document.getElementById('rutField').value;
    console.log(rutFieldValue)
    if (validateRut()) {
      document.getElementById('rutForm').submit();
    } else {
      alert('RUT no válido. Por favor, ingrese un RUT válido.');
    }
  }
</script>

</body>
</html>
