<link rel="stylesheet" href="/css/error.css">
<section class="centered">
    <h1>Server Error</h1>
    <div class="container">
      <span class="message" id="js-whoops"></span> <span class="message" id="js-appears"></span> <span class="message" id="js-error"></span> <span class="message" id="js-apology"></span>
      <div id="texto"><span class="" id=""> <%= mensaje %> </span></div>
      <a href="/"><button>VOLVER</button></a>
    </div>
  </section>