<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <title> <%= titulo %> </title>
</head>

<body>
    <div class="container">
        <img id="svg-background" src="/img/iniciosesion.svg" alt="fondo del iniciosesion">
        <div id="inicio">
            <div id="sesion">
                <div id="img">
                    <img id="svg-background2" src="/img/decoracionInicioSesion.svg" alt="fondo del iniciosesion">
                    <img id="img-background" src="/img/decoracionlogin2.png" alt="">
                </div>
                <div id="form">
                    <form id="formulario" method="post" action="/auth/login">
                        <div class="decoracion">Inicio de sesion</div>
                        <label for="useruser">Usuario</label>
                        <input id="user" type="text" name="username" placeholder="11111111-1" required>
                        <label for="passpass">Contrase침a</label>
                        <input id="pass" type="password" name="password" placeholder="Contrase침a" required>
                        <button id="button" type="submit">Iniciar Sesi칩n</button>
                        <a id="recuperarpass" for="mensaje" href="/recuperar" >Recuperar contrase침a</a>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</body>

</html>