<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/resources/img/logopequeno-hospital.png" />
  <link rel="stylesheet" href="/resources/css/nutricionista.css" />
  <link rel="stylesheet" href="/resources/css/puntoventa.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
  <script defer src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.js"></script>


  <title>Hospital San Jose Melipilla</title>

  <!--Scripts-->
  <script defer src="/resources/js/alerta.js"></script>
  <script defer src="/resources/js/navbar.js"></script>
</head>

<body id="body-pd">
  <%- include ('partials/_layoutNutricionistaJefe') %>

    <div class="container">
      <div class="product-list">
        <div class="product"
          onclick="agregarAlCarrito(1, 'Producto 1', 4990,'https://www.lafallera.es/wp-content/uploads/2023/11/comidas-sin-grasa-1080x675.jpeg')">
          <h3 class="product-tittle">Minuta 1</h3>
          <img class="product-img"
            src="https://www.lafallera.es/wp-content/uploads/2023/11/comidas-sin-grasa-1080x675.jpeg" alt="">
          <strong>Plato Principal</strong>
          <span>Postre</span>
          <span>Bebestible</span>
        </div>
        <div class="product"
          onclick="agregarAlCarrito(2, 'Producto 2', 4990,'https://www.lafallera.es/wp-content/uploads/2023/11/comidas-sin-grasa-1080x675.jpeg')">
          <h3 class="product-tittle">Minuta 2</h3>
          <img class="product-img"
            src="https://www.lafallera.es/wp-content/uploads/2023/11/comidas-sin-grasa-1080x675.jpeg" alt="">
          <strong>Plato Principal</strong>
          <span>Postre</span>
          <span>Bebestible</span>
        </div>
      </div>
      <div class="cart-info">
        <h2>Carrito de Compras</h2>
        <div class="client">
          <select name="client" id="select-client">
            <option value="1">Juan</option>
            <option value="2">Catalina</option>
          </select>
        </div>

        <div class="cart">
          <!-- Aquí se mostrarán los productos del carrito -->
        </div>

        <div class="summary">
          <h4>Total</h4><strong id="totalAmount">$0</strong>
          <button onclick="generarBoletaPDF()">Comprar</button>
        </div>
      </div>

      <script>
        const carrito = [];

        function agregarAlCarrito(id, nombre, precio, imagen) {
          const producto = {
            id: id,
            nombre: nombre,
            precio: precio,
            imagen: imagen
          };

          carrito.push(producto);
          actualizarCarrito();
        }

        function actualizarCarrito() {
          const carritoElement = document.querySelector('.cart');
          const totalAmountElement = document.getElementById('totalAmount');
          let total = 0;

          carritoElement.innerHTML = '';

          carrito.forEach(producto => {
            const productoElement = document.createElement('div');
            productoElement.classList.add('product-cart');
            productoElement.innerHTML = `
            <img class="cart-img" src="${producto.imagen}" alt="${producto.nombre}">
            <span>${producto.nombre} - $${producto.precio}</span>
        `;
            carritoElement.appendChild(productoElement);

            total += producto.precio;
          });

          totalAmountElement.textContent = `$${total.toFixed(0)}`;
        }

        function generarBoletaPDF() {
          const selectedClient = document.getElementById('select-client');
          const clientId = selectedClient.value;

          // Simular la compra
          const compra = {
            clienteId: clientId,
            productos: carrito,
            total: carrito.reduce((acc, producto) => acc + producto.precio, 0)
          };

          // Definir la estructura del documento PDF
          const docDefinition = {
            content: [
              { text: '----- Boleta de Compra -----', fontSize: 16 },
              { text: `Cliente: ${selectedClient.options[selectedClient.selectedIndex].text}`, fontSize: 12 },
              { text: 'Productos:', fontSize: 12 },
              ...carrito.map(producto => ({ text: `${producto.nombre} - $${producto.precio}`, fontSize: 10 })),
              { text: `Total: $${compra.total.toFixed(0)}`, fontSize: 12 },
            ]
          };

          // Crear el PDF y abrirlo en una nueva ventana
          pdfMake.createPdf(docDefinition).open();

          // Limpiar el carrito después de la compra
          carrito.length = 0;
          actualizarCarrito();

          // Puedes realizar más acciones aquí, como enviar la información al servidor para procesar la compra
        }

        async function llenarOpcionesSelect() {
          const selectCliente = document.getElementById('select-client');

          try {
            // Obtener datos desde la API
            const respuesta = await fetch('http://localhost:3000/NutricionistaJefe/listar-funcionario');
            const datos = await respuesta.json();

            // Limpiar las opciones existentes
            selectCliente.innerHTML = '';

            // Llenar las opciones basadas en la respuesta de la API
            datos.forEach(funcionario => {
              const opcion = document.createElement('option');
              opcion.value = `${funcionario.Rut},${funcionario.NombreFuncionario}`;
              opcion.textContent = funcionario.NombreFuncionario;
              selectCliente.appendChild(opcion);
            });
          } catch (error) {
            console.error('Error al obtener los datos:', error);
          }
        }

        // Llamar a la función para llenar las opciones del select cuando la página se carga
        document.addEventListener('DOMContentLoaded', llenarOpcionesSelect);

      </script>
</body>

</html>