   body {
       font-family: Arial, sans-serif;
       display: flex;
       flex-direction: column;
       align-items: center;
       height: 100vh;
       margin: 0;
   }

   #calculator {
       display: flex;
       flex-direction: column;
       align-items: center;
       margin-top: 20px;
       width: 250px;
       height: 450px;
   }

   #rutField {
       width: 210px;
       height: 40px;
       font-size: 1.2em;
       margin-bottom: 10px;
       border: 1px solid #ccc;
       border-radius: 5px;
   }

   .keypad {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-gap: 15px;

   }

   .key {
       display: flex;
       align-items: center;
       justify-content: center;
       width: 60px;
       height: 60px;
       border: 1px solid #ccc;
       border-radius: 5px;
       font-size: 1.3em;
       cursor: pointer;
       background-color: #ffff;
   }

   #deleteButton {
       width: 60px;
       height: 60px;
       border: 1px solid #ccc;
       border-radius: 5px;
       font-size: 1.2em;
       cursor: pointer;
   }

   #delete{
    background-color: #E36060;
   }
   #ok{
    background-color: #88DF6A;
   }