/* Estilo predeterminado del sidebar */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
  --header-height: 3rem;
  --nav-width: 68px;
  --first-color: #EEA561;
  --first-color-light: #AFA5D9;
  --white-color: #F7F6FB;
  --icons-color: #000000;
  --body-font: 'Nunito', sans-serif;
  --normal-font-size: 1rem;
  --z-fixed: 100
}

*,
::before,
::after {
  box-sizing: border-box
}

body {
  position: relative;
  margin: var(--header-height) 0 0 0;
  padding: 2rem 1rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}

a {
  text-decoration: none
}

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: var(--first-color);
  z-index: var(--z-fixed);
  transition: .4s
}

.header_toggle {
  color: var(--icon-color);
  font-size: 1.5rem;
  cursor: pointer
}

.header_img {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden
}

.header_img img {
  width: 40px
}

.log-out>a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.log-out>a {
  text-decoration: none;
  font-size: 1rem;
}

/*NAVBAR*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -20%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem 1rem 0 0;
  transition: .4s;
  z-index: var(--z-fixed)
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden
}

.nav_logo,
.nav_link {
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: 1rem;
  padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
  margin-bottom: 2rem
}

.nav_logo-icon {
  font-size: 1.25rem;
  color: var(--icon-color)
}

.nav_logo-name {
  color: var(--icon-color);
  font-weight: 700
}

.nav_link {
  position: relative;
  color: var(--icon-color);
  margin-bottom: 1.5rem;
  transition: .3s
}

.nav_link:hover {
  color: var(--white-color)
}

.nav_icon {
  font-size: 1.25rem
}

.show {
  left: 0
}

.body-pd {
  padding-left: calc(var(--nav-width) + 1rem)
}

.active {
  color: var(--white-color)
}

.active::before {
  content: '';
  position: absolute;
  left: 0;
  width: 2px;
  height: 32px;
  background-color: var(--white-color)
}

th {
  text-align: center !important;
}

#container {
  margin-top: 150px;
  width: 100%;

}

.titulo {
  margin-top: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--header-height);
  border-radius: 8px;
  background: #FEFBFB;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;

  /*letra*/
  color: var(--icons-color);
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

table {
  border-radius: 8px;
}

#agregar {
  width: 200px;
  height: 27px;
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*MODAL*/

.modal-body {
  margin: auto;
  padding: 10px;
  width: 90%;

  form {
    display: grid;
    gap: 10px;
  }

  label {
    font-weight: bold;
    display: block;
    /* Hace que las etiquetas ocupen todo el ancho disponible */
  }

  input {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
}


@media screen and (min-width: 768px) {
  body {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem)
  }

  .header {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }

  .titulo {
    height: calc(var(--header-height) + 1rem);
    padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
  }

  .header_img {
    width: 40px;
    height: 40px
  }

  .header_img img {
    width: 45px
  }

  .l-navbar {
    left: 0;
    padding: 1rem 1rem 0 0
  }

  .show {
    width: calc(var(--nav-width) + 210px)
  }

  .body-pd {
    padding-left: calc(var(--nav-width) + 225px)
  }
}